body {
  margin: 0px;
  font-family: Inter, arial;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1, h2, h3 {
  margin: 0px;
}
h1 {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
h2 {
  color: lightgrey;
  font-size: 18px;
  margin-top: 2px;
  font-weight: bold;
}
h3 {
  color: lightgrey;
  font-size: 14px;
  margin-top: 2px;
}
p {
  color: rgb(140, 140, 140);
  font-size: 12px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  background-color: black;
}

.info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.about--container, .interest--container {
  margin: 10px 30px;
}

.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 30px;
}

.info--headshot {
  width: 100%;
  border-radius: 15px;
}

.info--buttons-box {
  margin: 10px;
  display: flex;
  gap: 20px;
}

.info--buttons-box > button {
  width: 100px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.info--email-button {
  background-color: white;
  color: black;
}

.info--linkedin-button {
  background-color: #0072b1;
  color: white;
}

.info--email-logo {
  width: 22px;
}

.info--linkedin-logo {
  width: 18px;
}

.footer--container > img {
  width: 26px;
}